
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&family=Raleway:wght@200;300;400;500;600;900&family=Source+Code+Pro:wght@400;700&display=swap');

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style:-ms-autohiding-scrollbar;
}

body {
    font-family: "Raleway", sans-serif;

    background-color: rgba(249,249,249,1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

code {
    font-family: "Source Code Pro", monospace;
    font-weight: normal;
}

body.placeholder {
    margin: 0;
    height: 100vh;
    display: grid;
}

.hello-world {
    text-align: center;
    margin: auto;
    padding: 0 1rem;
}

.hello-world h1 {
    font-size: 4em;
    margin: 0 0 3rem;
}
.hello-world p {
    color: #555;
    font-size: 2em;
    font-weight: 200;
    margin: 3rem 0;
}
.hello-world hr {
    width: 25%;
}
