*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    
    @media screen and (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}

body {
    color: var(--colour-primary);
    background: var(--colour-background);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

a {
    transition: opacity 0.2s ease, fill-opacity 0.2s ease;
    color: var(--colour-link);
}
a:hover, a:focus {
    opacity: 0.8;
}

@mixin readable-inset {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 0 var(--readable-inset);
}

.readable {
    @include readable-inset;
}

.alternate {
    background-color: var(--colour-background-secondary);
}

section:not(.hero) {
    padding-block-start: 3rem;
    padding-block-end: 3rem;
    overflow: auto;

    h1,h2,h3,h4,h5,h6 {
        margin-block-end: 1.5rem;
    }
}

.container {
    padding-block-start: 1.5rem;
    padding-block-end: 1.5rem;

    &.full-width {
        padding-block-start: 0;
        padding-block-end: 0;
    }

    &__inner {
        @include readable-inset;

        .full-width & {
            max-width: none;
            margin: 0;
            padding: 0;
        }
    }

}

.image-container {

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        display: block;
    }
}

p {
    max-width: 37em;

    &:not(:last-child) {
        margin-block-end: 1.5rem;
    }
}

blockquote {
    padding-inline: 1rem;
    margin-block: 1.5rem;

    border-inline-start: 5px solid var(--colour-secondary);
    font-size: 1.1em;

    &:first-child {
        margin-block-start: 0;
    }
    &:last-child {
        margin-block-end: 0;
    }
}

figure {

    figcaption {
        padding-block: .5rem;
        font-size: 0.9em;
    }
}

.about {
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-areas: "headshot" "header" "bio";
    gap: 1rem;

    @media (min-width: $breakpoint-medium) {
        grid-template-columns: 2fr 3.5fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "headshot header" "headshot bio";
        row-gap: 1.5rem;
        column-gap: 2.5rem;
    }

    .page-header {
        grid-area: header;

        margin: 0;
    }
    .bio {
        grid-area: bio;
    }
    .headshot {
        grid-area: headshot;

        img {
            width: 100%;
            height: auto;
            object-fit: initial;

            max-width: 25rem;
            margin: 0 auto;
        }
    }

    .bio {
        line-height: 1.7;
        
        a {
            text-decoration: none;
        }
    }
}

.page-contact {
    
    .container {
        --content-max-width: 50em;
    }
    
    .alert {
        display: none;
        gap: 1rem;
        grid-template-columns: auto 1fr;
        align-items: center;

        padding: 0.3rem 1rem;
        border-radius: 1rem;
        
        &.success {
            border: 2px solid rgb(0, 128, 0);
            background: rgba(0, 128, 0, 0.1);

            .checkmark {
                color: rgb(0, 128, 0);
            }
        }
        &.error {
            border: 2px solid rgb(255, 59, 48);
            background: rgba(255, 59, 48, 0.1);

            .checkmark {
                color: rgb(255, 59, 48);
            }
        }

        margin-block-start: 1.5rem;
        margin-block-end: 1.5rem;

        opacity: 0;
        transition: 1s ease;

        .checkmark {
            font-size: 1.5em;

            @include no-select;
        }

        p {
            margin-block-end: 0;
        }

        .heading {
            font-size: 1.5em;
        }
        .message {
            font-size: 1em;
        }
    }
}

form {
    .field {
        display: block;
        margin-block-end: 1rem;

        .required-indicator {
            margin-inline-start: 0.3ch;
        }

        label, input, textarea {
            display: block;
            width: 100%;
            resize: vertical;
        }

        input, textarea, input[type="text"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            padding: 0.6rem 1rem;
            border-radius: 0.8rem;
            background: var(--colour-input-background);
            border: 1px solid var(--colour-secondary);
        }
    }

    .field-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        margin-block-end: 1rem;

        .field {
            margin-block-end: 0;
        }
    }
}

.container {
    button, .button, input[type="submit"] {
        padding: 0.8rem 1rem;
        border-radius: 0.8rem;
        outline: 0;
        border: 1px solid var(--colour-primary);
        color: var(--colour-background);
        background: var(--colour-primary);

        text-decoration: none;
        font-weight: 600;

        @media(prefers-color-scheme: dark) {
            color: var(--colour-primary);
            border-color: var(--colour-primary);
            background-color: var(--colour-background);
        }
        
        transition: 0.2s ease;
        @include no-select;
        
        &:hover, &:focus {
            cursor: pointer;
            border-color: var(--colour-secondary);
            background: var(--colour-secondary);

            @media(prefers-color-scheme: dark) {
                border-color: var(--colour-primary);
                background-color: var(--colour-background-secondary);

            }
        }

        &.button-outline {
            background-color: var(--colour-background);
            color: var(--colour-primary);
            border-width: 2px;

            &:hover, &:focus {
                background-color: var(--colour-background-secondary);
            }
        }
        
        &:disabled {
            background: var(--colour-secondary);

            @media(prefers-color-scheme: dark) {
                background-color: var(--colour-background-secondary);
            }
            
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}

.button-group {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;

    width: 100%;
    justify-content: center;

    text-align: center;
    margin: 1rem;

    button, .button {
        flex-grow: 1;
        flex-basis: 0;

        max-width: 200px;
    }
}

.button-collection {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.hero {
    min-height: 80vh;
    display: flex;

    @media (min-width: $breakpoint-small) {
        min-height: 90vh;

        .hero-image & {
            min-height: 100vh;
        }
    }

    &__inner {
        width: 100%;
        @include readable-inset;

        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;

        padding-block-start: 3rem;
        padding-block-end: 3rem;

        .align-center & {
            text-align: center;
            align-items: center;
        }
    }

    .page-header {
        margin-block-end: 0;

        .page-title {
            margin-block-end: 2rem;
            font-weight: bolder;
        }

        .subtitle {
            font-size: 1.2em;
            font-weight: 300;
        }
    }
}

.hero-image {
    section.hero {
        position: relative;
        
        @media screen {
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -2;
                
                background-image: var(--hero-image);
                background-position: center;
                background-position-y: 75%;
                background-repeat: no-repeat;
                background-size: cover;
                background-clip: border-box;
            }
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            z-index: -1;
            
            background-color: var(--colour-background);
        }
    }
}

.card-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3vw;

    $breakpoints: ("sm": $breakpoint-small, "md": $breakpoint-medium, "lg": $breakpoint-large);
    $type-levels: 1, 2, 3, 4, 5, 6, 7, 8, 9;
    
    @each $inital, $breakpoint in $breakpoints {
        @media (min-width: $breakpoint) {
            @each $level in $type-levels {
                // Assign to element and create utility class
                &.gallery-#{$inital}-#{$level} {
                    grid-template-columns: repeat(#{$level}, 1fr);
                }
            }
        }
    }
    
    list-style: none;
    
    li {
        display: contents;
    }

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        &--caption {
            order: 2;
            display: block;
            flex-basis: auto;

            a {
                text-decoration: inherit;
                color: inherit;
            }
        }
        
        &--image {
            order: 1;
            flex-basis: 100%;

            width: 100%;
            height: auto;
            display: block;

            img {
                width: 100%;
                height: 100%;

                object-fit: cover;
                display: block;
            }
        }
    }

    // Card variant with opacity overlay on hover.
    .card-overlay {
        display: block;
        position: relative;

        .card--caption {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;

            transition: 0.3s ease;

            pointer-events: none;
            background-color: var(--colour-background-a60);

            .card--title {
                text-align: center;
                
                color: var(--colour-primary);
                text-shadow: 0 0 30px var(--colour-background);
            }
            .card--subtitle {
                display: none;
            }
        }

        .card--image {
            width: 100%;
            height: 100%;
        }
        
        @media (hover: hover) {

            .card--caption {
                opacity: 0;

                .card--title {
                    text-shadow: 0 0 30px var(--colour-background-a70);
                    transition: 0.3s ease;
                    -webkit-transform: translate(0, 1rem);
                    -moz-transform: translate(0, 1rem);
                    transform: translate(0, 1rem);
                }
            }

            &:hover {
                .card--caption {
                    opacity: 1;
                    
                    .card--title {
                        -webkit-transform: translate(0, 0);
                        -moz-transform: translate(0, 0);
                        transform: translate(0, 0);
                    }
                }
            }
        }
    }
}

.hero-dark {
    .site-header, section.hero {
        @include colours-dark;

        color: var(--colour-primary);
    }
}