body {
    font: 1rem/1.5 var(--font-text);
    line-height: 1.5;
}

p,
li,
h1,
h2,
h3,
h4 {
    // Help prevent overflow of long words/names/URLs
    overflow-wrap: break-word;

    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    font-weight: 600;
}

$type-ratios: (
    "minorSecond": 1.067,
    "majorSecond": 1.125,
    "minorThird": 1.2,
    "majorThird": 1.25,
    "perfectFourth": 1.3333333333,
    "augmentedFourth": 1.414,
    "perfectFifth": 1.5,
    "goldenRatio": 1.618,
);

@function type-ratio($key) {
    @return map-get($type-ratios, $key);
}

// Recommended starting point
$type-base-size: 1rem;

// Select by key of map, or use custom value
$type-size-ratio: type-ratio("majorThird");

$type-levels: 4, 3, 2, 1;

$level-size: $type-base-size;

@each $level in $type-levels {
    $level-size: $level-size * $type-size-ratio;

    // Output heading styles
    // Assign to element and create utility class
    h#{$level} {
        font-size: $level-size;
    }
}